<div class="text-right mr-4">
	<%= link_to articles_path, :class =>"text-decoration-none" do %>
		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
		</svg>
		Back to Articles page
	<% end %>      
</div>
<div class="ui segment">
	<h3>My Gate Chat</h3>
	<div class="ui list">
		<div class="item">
			<% @chats.each do |chat| %>
				<% if chat.sender_id == current_user.id || chat.recipient_id == current_user.id %>
					<% if chat.sender_id == current_user.id %>
						<% recipient = User.find(chat.recipient_id) %>
					<% else %>
						<% recipient = User.find(chat.sender_id) %>
					<% end %>
					<%= link_to recipient.displayname, chat_messages_path(chat)%>
					<br/>
				<% end %>
			<% end %>
		</div>
	</div>
</div>


<div class="ui segment">
	<h3>All Users</h3>
	<div class="ui list">
		<% @users.each do |user| %>
			<% if user.id != current_user.id %>
				<div class="item">
				
				 <%= link_to user.displayname ,  chats_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
