<div class= "aboutus-page">
	<div class="aboutus-header">
		<div>Who are we? </div>
	</div>
	<div class="aboutus-description">
		We are a group of students at Colgate who wants to create a platform<br/>
		to help people share their work experiences with others
	</div>
	<div class="aboutus-team">

		<div class="team-item"> Our Team </div> 
		<div class="team-item"> Linh Nguyen </div> 
		<div class="team-item"> Bao Nguyen </div> 
		<div class="team-item"> Mingche Liu </div> 
		<div class="team-item">Tyler Potter </div> 
		<div class="team-item">Fanyi Mo</div> 
		<div class="team-item"> Van Tran </div>

		<div class= "team-item"> <%= link_to "Go back to front page", root_path %></div>
	</div>
</div>
