<div>Who are we? </div>
<div>We are a group of students at Colgate who wants to create a platform<br>
	to help people share their work experiences with others<div>

<div> Our Team </div> 
<div> Linh Nguyen </div> 
<div> Bao Nguyen </div> 
<div> Mingche Liu </div> 
<div>Tyler Potter </div> 
<div>Fanyi Mo</div> 
<div> Van Tran </div>

<div> <%= link_to "Go back to front page", root_path %></div> 
