<div class = "howto-page">
<div>How to use </div>
<div> <%= link_to "Go back to front page", root_path %></div> 

Only Colgate students can use the website. Please log in with your Colgate credentials.
</div>
