<div class = "howto-page">
	<div class="aboutus-header">
		How to use 
	</div>
	<div> <%= link_to "Go back to front page", root_path %></div>
	<div class="howto-instruction">
		<div> insert here </div> 
	</div> 	
</div>
