<div class = "howto-page">
	<div class="aboutus-header">
		How to use 
	</div>
	<div> <%= link_to "Go back to front page", root_path %></div>
	<br>
	<br>
	<br>
	<div class="howto-instruction">
		<blockquote class="imgur-embed-pub" lang="en" data-id="ZcvBQ9N" data-context="false" ><a href="//imgur.com/ZcvBQ9N"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
	</div> 	
</div>
