// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.company-list {
	text-align: center;
	padding: 20px; 
}
.table-headers {
	background-color: #8c0303; 
	color: #fff;
	font-weight: bold;
}
.pagination a, .pagination span, .pagination em {
	padding: 0.2em 0.5em; 
}
.pagination .disabled {
	color: #aaaaaa; 
}
.pagination .current {
	font-style: normal;
	font-weight: bold;
	color: #8c0303; 
}
.pagination a {
	color: #343a40;
	text-decoration: none; 
}
.pagination a:hover, .pagination a:focus {
	border-color: #003366;
	color: #8c0303; 
}
.pagination .previous_page, .pagination .next_page {
	border-width: 2px; 
}
.pagination .previous_page {
	margin-right: 1em; 
}
.pagination .next_page {
	margin-left: 1em; 
}
.back_button:hover, .back_button:focus{
	border-color: #003366;
	background: #0063dc;
	color: white; 
}
.container {
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
}
.left-button {
	margin: 20px;
	text-align: right;
}
.articlecompany, .approvepage {
	color: #8c0303;
	font-weight: bold;
	padding: 8px;
}