// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "social-share-button";
$size: 29px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}
.sect1{
	height: 80%;
	width: 100%;
}
.sect2 {
	margin-left: 10em;
	height: 50%;
}
.sect2-row{
	margin-left: 20em;  
}

.card-header{
	text-align: center;
}

.card-body{
	font-size: 1.2rem; 
}
.em-nerd_face, .em-birthday{
	margin-right: 5px; 
}

.company-list {
	text-align: center;
	padding: 20px;
	width:100%;
}
.table-headers {
	background-color: #8c0303; 
	color: #fff;
	font-weight: bold;
}
.pagination a, .pagination span, .pagination em {
	padding: 0.2em 0.5em; 
}
.pagination .disabled {
	color: #aaaaaa; 
}
.pagination .current {
	font-style: normal;
	font-weight: bold;
	color: #8c0303; 
}
.pagination a {
	color: #343a40;
	text-decoration: none; 
}
.pagination a:hover, .pagination a:focus {
	border-color: #003366;
	color: #8c0303; 
}
.pagination .previous_page, .pagination .next_page {
	border-width: 2px; 
}
.pagination .previous_page {
	margin-right: 1em; 
}
.pagination .next_page {
	margin-left: 1em; 
}
.back_button:hover, .back_button:focus{
	border-color: #003366;
	background: #0063dc;
	color: white; 
}
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
.left-button {
	margin: 20px;
	text-align: right;
}
.articlecompany, .approvepage {
	color: #8c0303;
	font-weight: bold;
	padding: 8px;
}
#clear_filter {
	padding: 15px;
}

nav ul ul {
	display: none;
	float: left;
	list-style: none;
	width: 250px;
}

nav ul:hover ul{
	display: block;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	border-radius: 4px;
	padding: 5px;
}

.filter-box {
	margin-left: 25px;
}
nav{	
	.salary_filter, .company_filter, .industry_filter, .location_filter{
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		position: absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		visibility: hidden;
	}
	.salary_filter_content, .company_filter_content, .industry_filter_content, .location_filter_content{
		width: 400px;
		height: 400px;
		background-color: white;
		border-radius: 4px;
		text-align: center;
		padding: 20px;
		position: relative;
		justify-content: center;
	}

	input{
		width: 50%;
		display: block;
		margin: 15px auto;
	}

	.close_company, .close_industry, .close_location, .close_salary{
		position: absolute;
		top: 0;
		right: 14px;
		font-size: 22px;
		transform: rotate(45deg);
		cursor: pointer;
	}
}


.pagination {
	justify-content:center;

}

.profile-nl{
	margin-left: 25px;
}
//.salary_filter{
//	width:100%;
//	height:100%;
//	background_color:rgba(0, 0, 0, 0.7);
//	position:absolute;
//	top:0;
//}
