<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p> You have a post waiting for your approval!</p>
		<p>
		Post details<br>
		--------------------------
		</p>
		<p>User: <%= @user.displayname %></p>
		<p>Company: <%= @article.company%></p>
		<p>Review: <%= @article.work_exp %></p>
	</body>
</html>
